/* CSS declarations go here */

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
    background: #c7dee3;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

/* super inefficient */

.square {
  float: left;
}

.empty {
  background: #fff;
  border: 0px;
  border-color: #000;
  height: 30px;
  width: 30px;
}

.fill {
  border-style: inset;
  border-width: 5px;
  height: 20px;
  width: 20px;
}

.fill-one {
  background: #236af9;
  border-color: #236af9;
}

.fill-two {
  background: #d823f9;
  border-color: #d823f9;
}

.fill-three {
  background: #17c8a0;
  border-color: #17c8a0;
}

.fill-four {
  background: #e5aa1e;
  border-color: #e5aa1e;
}

.fill-five {
    background: #771ee5;
  border-color: #771ee5;
}

.fill-six {
    background: #e51e5f;
  border-color: #e51e5f;
}

.fill-seven {
    background: #1eb4e5;
  border-color: #1eb4e5;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.grid-wrap {
    background: #e3c7d1;
}

.grid {
    width:300px;
    margin: auto;
    background: #white;
}

.square:focus {
  outline: none;
}

